# Small Python exercises
The purpose of theese exercises is just to do a small recap of some of the skills you have acquired so fare

# Variables, lists and dictionaries

### Create a variable named: my_integer with the value 10

In [1]:
my_integer = 10

### Now print that vaiable

In [2]:
print(my_integer)

10

### Which typ is this variable?

In [3]:
type(my_integer)

int

### Create a variable named my_string with an string attached

In [11]:
my_string = "Hello World!"

### Now print that vaiable

In [12]:
print(my_string)

Hello World!

### How do you increment my_integer with 10

In [6]:
# my_integer = my_integer + 10
my_integer += 10

### Now print my_integer

In [7]:
print(my_integer)

20

### How do you concatenate my_string with the following  string:
    other_string = "This is another string"

Print the result

In [8]:
other_string = "This is another string"

In [13]:
my_string += " " + other_string
print(my_string)

Hello World! This is another string

### Now split my_string into a list called: new_list and then print it

In [15]:
new_list = my_string.split()
print(new_list)

['Hello', 'World!', 'This', 'is', 'another', 'string']

** Create the following variables:**

    my_name = "Peter Møller Nielse"  # don't know who that is
    my_height = 110  # My height in cm

** Create a new string variable called: new_string with the following sentece: **

    "Hi, my name is Peter Møller Nielsen and I'm 110cm tall"
    
** Then print new_string **

In [16]:
my_name = "Peter Møller Nielse"  # Change it to your name
my_height = 110  # Your height

In [18]:
new_string = "Hi, my name is " + my_name + " and I'm " + str(my_height) + "cm tall"
print(new_string)

Hi, my name is Peter Møller Nielse and I'm 110cm tall

## Lists & dicts

In [19]:
list_a = [1,2,3,4,5]

### Print the third element in list_a

In [21]:
list_a[2]

3

### Print a new list container the first 3 elements

In [22]:
list_a[:3]

[1, 2, 3]

### Print a new list containing the last 3 element

In [23]:
print(list_a[2:])
print(list_a[-3:])

[3, 4, 5]
[3, 4, 5]

### print a new list containing the items 2,3,4 from list_a

In [26]:
list_a[1:-1]

[2, 3, 4]

### Find the index value using the index() for the name "Bell" in the follwing list:
    crazy_list = ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis',
    'Miller', 'Wilson', 'Moore', 'Taylor', 'Anderson', 'Thomas', 'Jackson',
    'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez',
    'Robinson', 'Clark', 'Rodriguez', 'Lewis', 'Lee', 'Walker', 'Hall',
    'Allen', 'Young', 'Hernandez', 'King', 'Wright', 'Lopez', 'Hill',
    'Scott', 'Green', 'Adams', 'Baker', 'Gonzalez', 'Nelson', 'Carter',
    'Mitchell', 'Perez', 'Roberts', 'Turner', 'Phillips', 'Campbell',
    'Parker', 'Evans', 'Edwards', 'Collins', 'Stewart', 'Sanchez', 'Morris',
    'Rogers', 'Reed', 'Cook', 'Morgan', 'Bell']

In [27]:
crazy_list = ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis',
'Miller', 'Wilson', 'Moore', 'Taylor', 'Anderson', 'Thomas', 'Jackson',
'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez',
'Robinson', 'Clark', 'Rodriguez', 'Lewis', 'Lee', 'Walker', 'Hall',
'Allen', 'Young', 'Hernandez', 'King', 'Wright', 'Lopez', 'Hill',
'Scott', 'Green', 'Adams', 'Baker', 'Gonzalez', 'Nelson', 'Carter',
'Mitchell', 'Perez', 'Roberts', 'Turner', 'Phillips', 'Campbell',
'Parker', 'Evans', 'Edwards', 'Collins', 'Stewart', 'Sanchez', 'Morris',
'Rogers', 'Reed', 'Cook', 'Morgan', 'Bell']

In [28]:
crazy_list.index("Bell")

57

### Now print "Bell" from the crazy_list using it's index value

In [29]:
print(crazy_list[57])

Bell

### Create an empty dictionary calle my_dict

In [30]:
my_dict = {}
print(my_dict)

{}

### Add a new key called "my_key" with the value of 10

In [31]:
my_dict['my_key'] = 10
print(my_dict)

{'my_key': 10}

### Create a new dictionary called new_dict containing the following key: value pairs:
    "key_1": 10
    "key_2": 100
    "key_3": 1000
    "key_4": 10000

In [69]:
new_dict = {"key_1": 10,"key_2": 100,"key_3": 1000,"key_4": 10000}
print(new_dict)

{'key_1': 10, 'key_2': 100, 'key_3': 1000, 'key_4': 10000}

In [70]:
new_new_dict = {"key_1": 10,"key_2": 100,"key_3": 1000,"key_4": 10000,"key_1": 10,"keys_2": 100,"keys_3": 1000,"keys_4": 10000,"kesy_1": 10,"kesy_2": 100,"keys3": 1000,"keys_4": 10000,"kaseyas_1": 10,"key_2": 100,"key_3": 1000,"key_4": 10000,}
print(new_new_dict)

{'key_1': 10, 'key_2': 100, 'key_3': 1000, 'key_4': 10000, 'keys_2': 100, 'keys_3': 1000, 'keys_4': 10000, 'kesy_1': 10, 'kesy_2': 100, 'keys3': 1000, 'kaseyas_1': 10}

In [71]:
import pprint
pprint.pprint(new_new_dict)

{'kaseyas_1': 10,
 'kesy_1': 10,
 'kesy_2': 100,
 'key_1': 10,
 'key_2': 100,
 'key_3': 1000,
 'key_4': 10000,
 'keys3': 1000,
 'keys_2': 100,
 'keys_3': 1000,
 'keys_4': 10000}

### Print the value of the key "key_2"

In [72]:
new_dict["key_2"]

100

### Print the names of all keys in the new_dict
### Print the names of all values in the new_dict

In [73]:
print(new_dict.keys())
print(new_dict.values())

dict_keys(['key_1', 'key_2', 'key_3', 'key_4'])
dict_values([10, 100, 1000, 10000])

# For-loops

## Create a-for loop that prints each element in the following list:
    list_b = ["I","am","a","champion","programmer"]

In [41]:
list_b = ["I","am","a","champion","programmer"]

In [44]:
for word in list_b:
    print(word)

I
am
a
champion
programmer

## Now print each item and the items index value from list_b

In [49]:
for i in range(len(list_b)):
    print(i, list_b[i])

0 I
1 am
2 a
3 champion
4 programmer

In [50]:
for idx, item in enumerate(list_b):
    print(idx, item)

0 I
1 am
2 a
3 champion
4 programmer

### Now using a for-loop, try to find the index value of the name "Evans" in the crazy_list
#### Hint: use an if statement to check if a name is "Evans"

In [59]:
for i in range(len(crazy_list)):
    if crazy_list[i] == "Evans":
        print(i)

47

In [53]:
for idx, name in enumerate(crazy_list):
    if name == "Evans":
        print(idx)

47

### Now check if the index is right by printing it from the list.

In [60]:
print(crazy_list[47])

Evans

### Now create a for-loop that count the occurrences of a name in crazy_list2 using a dictionary:
    crazy_list2 = ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis',
'Miller', 'Wilson', 'Moore', 'Taylor', 'Anderson', 'Thomas', 'Jackson',
'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez',
'Robinson', 'Clark', 'Rodriguez', 'Lewis', 'Lee', 'Walker', 'Hall',
'Allen', 'Young', 'Hernandez', 'King', 'Wright', 'Lopez', 'Hill',
'Scott', 'Green', 'Adams', 'Baker', 'Gonzalez', 'Nelson', 'Carter',
'Mitchell', 'Perez', 'Roberts', 'Turner', 'Phillips', 'Campbell',
'Parker', 'Evans', 'Edwards', 'Collins', 'Stewart', 'Sanchez', 'Morris',
'Rogers', 'Reed', 'Cook', 'Morgan', 'Bell','Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis',
'Miller', 'Wilson', 'Moore', 'Taylor', 'Anderson', 'Thomas', 'Jackson',
'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez',
'Robinson', 'Clark', 'Rodriguez', 'Lewis', 'Lee', 'Walker', 'Hall',
'Allen', 'Young', 'Hernandez', 'King', 'Wright', 'Lopez', 'Hill',
'Scott', 'Green', 'Adams', 'Baker', 'Gonzalez', 'Nelson', 'Carter',
'Mitchell', 'Perez', 'Roberts', 'Turner', 'Phillips', 'Campbell',
'Parker', 'Evans', 'Edwards', 'Collins', 'Stewart', 'Sanchez', 'Morris',
'Rogers', 'Reed', 'Cook', 'Morgan', 'Bell','Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis',
'Miller', 'Wilson', 'Moore', 'Taylor', 'Anderson', 'Thomas', 'Jackson',
'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez',
'Robinson', 'Clark', 'Rodriguez', 'Lewis', 'Lee', 'Walker', 'Hall',
'Allen', 'Young', 'Hernandez', 'King', 'Wright', 'Lopez', 'Hill',
'Scott', 'Green', 'Adams', 'Baker', 'Gonzalez', 'Nelson', 'Carter',
'Mitchell', 'Perez', 'Roberts', 'Turner', 'Phillips', 'Campbell',
'Parker', 'Evans', 'Edwards', 'Collins', 'Stewart', 'Sanchez', 'Morris',
'Rogers', 'Reed', 'Cook', 'Morgan', 'Bell']

In [61]:
crazy_list2 = ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis',
'Miller', 'Wilson', 'Moore', 'Taylor', 'Anderson', 'Thomas', 'Jackson',
'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez',
'Robinson', 'Clark', 'Rodriguez', 'Lewis', 'Lee', 'Walker', 'Hall',
'Allen', 'Young', 'Hernandez', 'King', 'Wright', 'Lopez', 'Hill',
'Scott', 'Green', 'Adams', 'Baker', 'Gonzalez', 'Nelson', 'Carter',
'Mitchell', 'Perez', 'Roberts', 'Turner', 'Phillips', 'Campbell',
'Parker', 'Evans', 'Edwards', 'Collins', 'Stewart', 'Sanchez', 'Morris',
'Rogers', 'Reed', 'Cook', 'Morgan', 'Bell','Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis',
'Miller', 'Wilson', 'Moore', 'Taylor', 'Anderson', 'Thomas', 'Jackson',
'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez',
'Robinson', 'Clark', 'Rodriguez', 'Lewis', 'Lee', 'Walker', 'Hall',
'Allen', 'Young', 'Hernandez', 'King', 'Wright', 'Lopez', 'Hill',
'Scott', 'Green', 'Adams', 'Baker', 'Gonzalez', 'Nelson', 'Carter',
'Mitchell', 'Perez', 'Roberts', 'Turner', 'Phillips', 'Campbell',
'Parker', 'Evans', 'Edwards', 'Collins', 'Stewart', 'Sanchez', 'Morris',
'Rogers', 'Reed', 'Cook', 'Morgan', 'Bell','Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis',
'Miller', 'Wilson', 'Moore', 'Taylor', 'Anderson', 'Thomas', 'Jackson',
'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez',
'Robinson', 'Clark', 'Rodriguez', 'Lewis', 'Lee', 'Walker', 'Hall',
'Allen', 'Young', 'Hernandez', 'King', 'Wright', 'Lopez', 'Hill',
'Scott', 'Green', 'Adams', 'Baker', 'Gonzalez', 'Nelson', 'Carter',
'Mitchell', 'Perez', 'Roberts', 'Turner', 'Phillips', 'Campbell',
'Parker', 'Evans', 'Edwards', 'Collins', 'Stewart', 'Sanchez', 'Morris',
'Rogers', 'Reed', 'Cook', 'Morgan', 'Bell']

In [64]:
counter = {}
for name in crazy_list2:
    counter.setdefault(name,0)
    counter[name] += 1
print(counter)

{'Smith': 3, 'Johnson': 3, 'Williams': 3, 'Jones': 3, 'Brown': 3, 'Davis': 3, 'Miller': 3, 'Wilson': 3, 'Moore': 3, 'Taylor': 3, 'Anderson': 3, 'Thomas': 3, 'Jackson': 3, 'White': 3, 'Harris': 3, 'Martin': 3, 'Thompson': 3, 'Garcia': 3, 'Martinez': 3, 'Robinson': 3, 'Clark': 3, 'Rodriguez': 3, 'Lewis': 3, 'Lee': 3, 'Walker': 3, 'Hall': 3, 'Allen': 3, 'Young': 3, 'Hernandez': 3, 'King': 3, 'Wright': 3, 'Lopez': 3, 'Hill': 3, 'Scott': 3, 'Green': 3, 'Adams': 3, 'Baker': 3, 'Gonzalez': 3, 'Nelson': 3, 'Carter': 3, 'Mitchell': 3, 'Perez': 3, 'Roberts': 3, 'Turner': 3, 'Phillips': 3, 'Campbell': 3, 'Parker': 3, 'Evans': 3, 'Edwards': 3, 'Collins': 3, 'Stewart': 3, 'Sanchez': 3, 'Morris': 3, 'Rogers': 3, 'Reed': 3, 'Cook': 3, 'Morgan': 3, 'Bell': 3}

### Create a for-loop that prints all keys and values. in counter

In [66]:
for key, value in counter.items():
    print(key, value)

Smith 3
Johnson 3
Williams 3
Jones 3
Brown 3
Davis 3
Miller 3
Wilson 3
Moore 3
Taylor 3
Anderson 3
Thomas 3
Jackson 3
White 3
Harris 3
Martin 3
Thompson 3
Garcia 3
Martinez 3
Robinson 3
Clark 3
Rodriguez 3
Lewis 3
Lee 3
Walker 3
Hall 3
Allen 3
Young 3
Hernandez 3
King 3
Wright 3
Lopez 3
Hill 3
Scott 3
Green 3
Adams 3
Baker 3
Gonzalez 3
Nelson 3
Carter 3
Mitchell 3
Perez 3
Roberts 3
Turner 3
Phillips 3
Campbell 3
Parker 3
Evans 3
Edwards 3
Collins 3
Stewart 3
Sanchez 3
Morris 3
Rogers 3
Reed 3
Cook 3
Morgan 3
Bell 3

# Good job!